In [1]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
pd.options.display.max_columns = 31

In [2]:
df_inicial=pd.read_csv("../Data/data_clean.csv")

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df_inicial["Fecha_compra"]=df_inicial["Fecha_compra"].apply(lambda x: pd.to_datetime(x)) #Demora aprox 5 minutos

----------

OBSERVAMOS EL VALOR QUE TOMAN LAS COLUMNAS

In [4]:
df_inicial.head()

,ID_Contacto,Codigo_Cliente,Nombre,Apellido,Ciudad_cliente,Fecha_compra,Factura,Tipo Factura,Cod. Organización,Desc. Organizacion,Cod. Canal,Canal,Valor Neto,Cod. Tienda,Desc. Tienda,Ciudad Tienda,Material,Desc. Prenda,Tipo de Negocio,Destino,Mes de Venta,Edad,Género,Sublínea,Grupo de Artículo,Tipo de Artículo,Tipo de Tejido,Tipo de Referencia,Saldo,Clase,Concepto Diseño
0,1023968295,42163952,"TATIANA,","BEJARANO,",BOGOTA,2019-10-19,532957168,ZPOS,1010,Org.ventas Nacional,12,Outlets,35672,T033,TIENDA OUTLET AMÉRICAS BOGOTÁ,BOGOTÁ,4210457,TENIS,LINEA,TODOS,FEBRERO,BEBES,FEMENINO,BASICOS,CALZADO,TENIS,NO TEJIDO,PRENDA EXTERIOR,ES SALDO,DESARROLLO EXTERNO,BASICOS
1,1101758193,42620506,"RICARDO,","PARDO,",BOGOTA,2019-11-30,517272874,ZPOS,1010,Org.ventas Nacional,10,Tiendas Propias,40328,T020,TIENDA PLAZA DE LAS AMERICAS,BOGOTÁ,3104161,CAMISA MANGA CORTA EN TEJIDO PLANO,NO LINEA,TODOS,NOVIEMBRE,PRIMI,MASCULINO,MODA,CAMISA,CAMISA MANGA CORTA,TEJIDO PLANO,PRENDA EXTERIOR,ES SALDO,MAQUILA,ROAD TO ALASKA
2,13886147,42702886,"ELVIS,","CASTRO,",BARRANCABERMEJ,2019-12-24,379551045,ZPOS,2010,TEXVIGAR S.A.S.,50,Tiendas Franquicias,25126,FN50,SAN SILVESTRE BARRANCABERMEJA,BARRANCABERMEJA,5226833,LEGGINGS EN TEJIDO DE PUNTO,LINEA,ALMACENES,MAYO,NIÑOS,FEMENINO,BASICOS,PANTALON LARGO,LEGGINGS,TEJIDO PUNTO,PRENDA EXTERIOR,ES SALDO,MAQUILA,BASICOS
3,66873337,40225702,"NHORA PATRICIA,","POSSO CAMPO,",TULUA,2019-12-10,556272992,ZPOS,1010,Org.ventas Nacional,10,Tiendas Propias,42008,T016,TIENDA JARDIN PLAZA,CALI,5234099,CAMISETA ML EN TEJIDO DE PUNTO,NO LINEA,ALMACENES,DICIEMBRE,NIÑOS,FEMENINO,MODA,CAMISETA,CAMISETA MANGA LARGA,TEJIDO PUNTO,PRENDA EXTERIOR,ES SALDO,MAQUILA,ROAD TO ALASKA
4,1049796773,41912337,"LORENA,","MARTINES MORENO,",BOGOTA,2019-10-02,632083527,ZPOS,1010,Org.ventas Nacional,12,Outlets,27000,T074,TIENDA OUTLET KENNEDY,BOGOTÁ,4204420,CAMISA MANGA CORTA EN TEJIDO PLANO,NO LINEA,ALMACENES,FEBRERO,BEBES,FEMENINO,MODA,CAMISA,CAMISA MANGA CORTA,TEJIDO PLANO,PRENDA EXTERIOR,ES SALDO,MAQUILA,RETRO VIBES

In [5]:
df_inicial.shape

(4621542, 31)

In [6]:
df_inicial.nunique()

ID_Contacto            893730
Codigo_Cliente         838656
Nombre                  95277
Apellido               161810
Ciudad_cliente           1207
Fecha_compra              727
Factura               1839313
Tipo Factura                4
Cod. Organización          13
Desc. Organizacion         13
Cod. Canal                  4
Canal                       4
Valor Neto              12993
Cod. Tienda               122
Desc. Tienda              122
Ciudad Tienda              42
Material                12038
Desc. Prenda             5124
Tipo de Negocio             2
Destino                     6
Mes de Venta               12
Edad                        3
Género                      5
Sublínea                   14
Grupo de Artículo          31
Tipo de Artículo          156
Tipo de Tejido              4
Tipo de Referencia          4
Saldo                       2
Clase                       6
Concepto Diseño           239
dtype: int64

--------------------

In [7]:
df_inicial.groupby("Codigo_Cliente").size().sort_values(ascending=False).head(20)
# ESTO HACE REFERENCIA A LA CANTIDA DE ARTICULOS QUE HA COMPRADO CADA CLIENTE.

Codigo_Cliente
41725365    5384
40368747    4567
40371365    3920
40368158    2859
40322026    2751
40322076    2050
40888010    1713
40508362    1209
40834348     934
40323076     887
40322021     873
40674844     823
40220428     634
41477424     589
40392886     584
41831160     575
116261       552
40085339     550
40177562     522
41150824     519
dtype: int64

In [8]:
df_inicial[df_inicial["Codigo_Cliente"]==40322076]

,ID_Contacto,Codigo_Cliente,Nombre,Apellido,Ciudad_cliente,Fecha_compra,Factura,Tipo Factura,Cod. Organización,Desc. Organizacion,Cod. Canal,Canal,Valor Neto,Cod. Tienda,Desc. Tienda,Ciudad Tienda,Material,Desc. Prenda,Tipo de Negocio,Destino,Mes de Venta,Edad,Género,Sublínea,Grupo de Artículo,Tipo de Artículo,Tipo de Tejido,Tipo de Referencia,Saldo,Clase,Concepto Diseño
437,222222277,40322076,CLIENTE,"GENERICO,SANSILVESTRE",SANTANDER,2019-11-14,398915081,ZPOS,2010,TEXVIGAR S.A.S.,51,Outlets Franquicias,8361,FN98,OUTLET UNICO BARRANQUILLA,BARRANQUILLA,4123961,CAMISETA MANGA SISA XTREME EN TEJIDO DE,LINEA,VENTA DIRECTA,MAYO,BEBES,MASCULINO,LINEA 79,CAMISETA,CAMISETA MANGA SISA,TEJIDO PUNTO,PRENDA EXTERIOR,ES SALDO,MAQUILA,COLECCIÓN 4
625,222222277,40322076,CLIENTE,"GENERICO,SANSILVESTRE",SANTANDER,2019-12-07,398918236,ZPOS,2010,TEXVIGAR S.A.S.,51,Outlets Franquicias,38765,FN98,OUTLET UNICO BARRANQUILLA,BARRANQUILLA,5221011,ENTERIZO CORTO EN TEJIDO PLANO CON MOÑOS,NO LINEA,CADENAS,JUNIO,NIÑOS,FEMENINO,MODA,ENTERIZO EXTERIOR,ENTERIZO CORTO,TEJIDO PLANO,PRENDA EXTERIOR,ES SALDO,MAQUILA,BETTER TOGETHER
2076,222222277,40322076,CLIENTE,"GENERICO,SANSILVESTRE",SANTANDER,2019-12-01,398917248,ZPOS,2010,TEXVIGAR S.A.S.,51,Outlets Franquicias,15084,FN98,OUTLET UNICO BARRANQUILLA,BARRANQUILLA,4226067,LEGGINGS EN TEJIDO DE PUNTO,NO LINEA,TODOS,ENERO,BEBES,FEMENINO,OC SPORTS,PANTALON LARGO,LEGGINGS,TEJIDO PUNTO,PRENDA EXTERIOR,ES SALDO,MAQUILA,OC SPORTS DIVISION
3506,222222277,40322076,CLIENTE,"GENERICO,SANSILVESTRE",SANTANDER,2019-11-09,398914722,ZPOS,2010,TEXVIGAR S.A.S.,51,Outlets Franquicias,23487,FN98,OUTLET UNICO BARRANQUILLA,BARRANQUILLA,4104559,CAMISA MANGA CORTA EN TEJIDO PLANO,LINEA,ALMACENES,FEBRERO,BEBES,MASCULINO,BASICOS,CAMISA,CAMISA MANGA CORTA,TEJIDO PLANO,PRENDA EXTERIOR,ES SALDO,MAQUILA,BASICOS
3777,222222277,40322076,CLIENTE,"GENERICO,SANSILVESTRE",SANTANDER,2019-12-15,398919278,ZPOS,2010,TEXVIGAR S.A.S.,51,Outlets Franquicias,27000,FN98,OUTLET UNICO BARRANQUILLA,BARRANQUILLA,4223914,CAMISETA ML EN TEJIDO DE PUNTO,NO LINEA,ALMACENES,SEPTIEMBRE,BEBES,FEMENINO,MODA,CAMISETA,CAMISETA MANGA LARGA,TEJIDO PUNTO,PRENDA EXTERIOR,ES SALDO,MAQUILA,GLAM SCHOOL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4611400,222222277,40322076,CLIENTE,"GENERICO,SANSILVESTRE",SANTANDER,2019-07-27,379545895,ZPOS,2010,TEXVIGAR S.A.S.,50,Tiendas Franquicias,72185,FN50,SAN SILVESTRE BARRANCABERMEJA,BARRANCABERMEJA,4136023,DENIM EN TEJIDO PLANO 5 BOLSILLOS,NO LINEA,ALMACENES,JULIO,BEBES,MASCULINO,MODA,DENIM,DENIM,TEJIDO PLANO,PRENDA EXTERIOR,ES SALDO,MAQUILA,TRAVEL THE WORLD
4611702,222222277,40322076,CLIENTE,"GENERICO,SANSILVESTRE",SANTANDER,2019-08-27,398912154,ZPOS,2010,TEXVIGAR S.A.S.,51,Outlets Franquicias,21118,FN98,OUTLET UNICO BARRANQUILLA,BARRANQUILLA,3111527,BODY MANGA CORTA EN TEJIDO DE PUNTO CON,LINEA,TODOS,FEBRERO,PRIMI,MASCULINO,BASICOS,BODY,BODY MANGA CORTA,TEJIDO PUNTO,PRENDA EXTERIOR,NO SALDO,MAQUILA,BASICOS
4613456,222222277,40322076,CLIENTE,"GENERICO,SANSILVESTRE",SANTANDER,2019-07-04,398910702,ZPOS,2010,TEXVIGAR S.A.S.,51,Outlets Franquicias,20529,FN98,OUTLET UNICO BARRANQUILLA,BARRANQUILLA,5133386,CAMISETA MANGA SISA EN TEJIDO DE PUNTO X,NO LINEA,VENTA DIRECTA,SEPTIEMBRE,NIÑOS,MASCULINO,MODA,CAMISETA,CAMISETA MANGA SISA,TEJIDO PUNTO,PRENDA EXTERIOR,ES SALDO,PAQUETE COMPLETO NAL,DISNEY
4615615,222222277,40322076,CLIENTE,"GENERICO,SANSILVESTRE",SANTANDER,2019-08-27,398912155,ZPOS,2010,TEXVIGAR S.A.S.,51,Outlets Franquicias,14647,FN98,OUTLET UNICO BARRANQUILLA,BARRANQUILLA,4223727,CAMISETA MANGA CORTA EN TEJIDO DE PUNTO,LINEA,CADENAS,MARZO,BEBES,FEMENINO,BASICOS,CAMISETA,CAMISETA MANGA CORTA,TEJIDO PUNTO,PRENDA EXTERIOR,ES SALDO,MAQUILA,BASICOS
4621251,222222277,40322076,CLIENTE,"GENERICO,SANSILVESTRE",SANTANDER,2019-09-10,398912721,ZPOS,2010,TEXVIGAR S.A.S.,51,Outlets Franquicias,20101,FN98,OUTLET UNICO BARRANQUILLA,BARRANQUILLA,4223728,CAMISETA MANGA CORTA EN TEJIDO DE PUNTO,LINEA,CADENAS,MARZO,BEBES,FEMENINO,BASICOS,CAMISETA,CAMISETA MANGA CORTA,TEJIDO PUNTO,PRENDA EXTERIOR,ES SALDO,MAQUILA,BASICOS

In [9]:
df_inicial[df_inicial["Codigo_Cliente"]==41831160]

,ID_Contacto,Codigo_Cliente,Nombre,Apellido,Ciudad_cliente,Fecha_compra,Factura,Tipo Factura,Cod. Organización,Desc. Organizacion,Cod. Canal,Canal,Valor Neto,Cod. Tienda,Desc. Tienda,Ciudad Tienda,Material,Desc. Prenda,Tipo de Negocio,Destino,Mes de Venta,Edad,Género,Sublínea,Grupo de Artículo,Tipo de Artículo,Tipo de Tejido,Tipo de Referencia,Saldo,Clase,Concepto Diseño
842754,43410982,41831160,"DORA,LUZ","PANIAGUA FLORES,FLOREZ",MEDELLIN,2019-10-19,593942744,ZPOS,1010,Org.ventas Nacional,12,Outlets,29370,T051,TIENDA OUTLET JUNIN MEDELLIN,MEDELLIN,5205417,SHORT 5 BOLSILLOS EN TEJIDO PLANO,LINEA,TODOS,FEBRERO,NIÑOS,FEMENINO,BASICOS,PANTALON CORTO,SHORT,TEJIDO PLANO,PRENDA EXTERIOR,ES SALDO,MAQUILA,BASICOS
995447,43410982,41831160,"DORA,LUZ","PANIAGUA FLORES,FLOREZ",MEDELLIN,2019-10-19,593942744,ZPOS,1010,Org.ventas Nacional,12,Outlets,29370,T051,TIENDA OUTLET JUNIN MEDELLIN,MEDELLIN,5205417,SHORT 5 BOLSILLOS EN TEJIDO PLANO,LINEA,TODOS,FEBRERO,NIÑOS,FEMENINO,BASICOS,PANTALON CORTO,SHORT,TEJIDO PLANO,PRENDA EXTERIOR,ES SALDO,MAQUILA,BASICOS
1358108,43410982,41831160,"DORA,LUZ","PANIAGUA FLORES,FLOREZ",MEDELLIN,2020-09-07,583830526,ZPOS,1010,Org.ventas Nacional,12,Outlets,13588,T058,OUTLET CALLE 10 MEDELLIN,MEDELLIN,4209208,SET CAMISETA MANGA CORTA + PANTALON,LINEA,VENTA DIRECTA,AGOSTO,BEBES,FEMENINO,MODA,PIJAMA,PIJAMA MC-PL,NO TEJIDO,PRENDA EXTERIOR,ES SALDO,PAQUETE COMPLETO NAL,DISNEY
1368174,43410982,41831160,"DORA,LUZ","PANIAGUA FLORES,FLOREZ",MEDELLIN,2020-09-07,583830526,ZPOS,1010,Org.ventas Nacional,12,Outlets,15084,T058,OUTLET CALLE 10 MEDELLIN,MEDELLIN,5133638,CAMISETA XTREME MANGA CORTA EN TEJIDO DE,NO LINEA,CADENAS,JUNIO,NIÑOS,MASCULINO,MODA,CAMISETA,CAMISETA MANGA CORTA,TEJIDO PUNTO,PRENDA EXTERIOR,ES SALDO,MAQUILA,TRAVEL THE WORLD
1416545,43410982,41831160,"DORA,LUZ","PANIAGUA FLORES,FLOREZ",MEDELLIN,2020-09-04,583830462,ZPOS,1010,Org.ventas Nacional,12,Outlets,16765,T058,OUTLET CALLE 10 MEDELLIN,MEDELLIN,4123921,CAMISETA MANGA LARGA EN TEJIDO DE PUNTO,LINEA,CADENAS,MARZO,BEBES,MASCULINO,BASICOS,CAMISETA,CAMISETA MANGA LARGA,TEJIDO PUNTO,PRENDA EXTERIOR,ES SALDO,MAQUILA,BASICOS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4601029,43410982,41831160,"DORA,LUZ","PANIAGUA FLORES,FLOREZ",MEDELLIN,2019-09-24,583823473,ZPOS,1010,Org.ventas Nacional,12,Outlets,13403,T058,OUTLET CALLE 10 MEDELLIN,MEDELLIN,5233877,CAMISETA MS EN TEJIDO DE PUNTO,LINEA,CADENAS,MARZO,NIÑOS,FEMENINO,BASICOS,CAMISETA,CAMISETA MANGA SISA,TEJIDO PUNTO,PRENDA EXTERIOR,ES SALDO,MAQUILA,BASICOS
4607093,43410982,41831160,"DORA,LUZ","PANIAGUA FLORES,FLOREZ",MEDELLIN,2019-09-24,583823473,ZPOS,1010,Org.ventas Nacional,12,Outlets,13403,T058,OUTLET CALLE 10 MEDELLIN,MEDELLIN,5233877,CAMISETA MS EN TEJIDO DE PUNTO,LINEA,CADENAS,MARZO,NIÑOS,FEMENINO,BASICOS,CAMISETA,CAMISETA MANGA SISA,TEJIDO PUNTO,PRENDA EXTERIOR,ES SALDO,MAQUILA,BASICOS
4609645,43410982,41831160,"DORA,LUZ","PANIAGUA FLORES,FLOREZ",MEDELLIN,2019-09-24,583823473,ZPOS,1010,Org.ventas Nacional,12,Outlets,18025,T058,OUTLET CALLE 10 MEDELLIN,MEDELLIN,3201550,VESTIDO MANGA CORTA EN TEJIDO DE PUNTO C,LINEA,TODOS,MARZO,PRIMI,FEMENINO,BASICOS,VESTIDO,VESTIDO MANGA CORTA,TEJIDO PUNTO,PRENDA EXTERIOR,ES SALDO,MAQUILA,BASICOS
4618403,43410982,41831160,"DORA,LUZ","PANIAGUA FLORES,FLOREZ",MEDELLIN,2019-09-23,583823446,ZPOS,1010,Org.ventas Nacional,12,Outlets,29370,T058,OUTLET CALLE 10 MEDELLIN,MEDELLIN,5204498,CAMISA MANGA LARGA EN TEJIDO PLANO,NO LINEA,ALMACENES,MARZO,NIÑOS,FEMENINO,MODA,CAMISA,CAMISA MANGA LARGA,TEJIDO PLANO,PRENDA EXTERIOR,ES SALDO,MAQUILA,RETRO VIBES
4619877,43410982,41831160,"DORA,LUZ","PANIAGUA FLORES,FLOREZ",MEDELLIN,2019-09-24,583823473,ZPOS,1010,Org.ventas Nacional,12,Outlets,20966,T058,OUTLET CALLE 10 MEDELLIN,MEDELLIN,5133442,CAMISETA MANGA CORTA EN TEJIDO DE PUNTO,LINEA,ALMACENES,FEBRERO,NIÑOS,MASCULINO,BASICOS,CAMISETA,CAMISETA POLO,TEJIDO PUNTO,PRENDA EXTERIOR,ES SALDO,MAQUILA,BASICOS

---------------------

LO ANTERIOR VALE LA PENA COLOCARLE LA LUPA, CLIENTES CON UNA CANTIDAD GIGANTE DE COMPRAS

------------------

A CONTINUACIÓN, COMENZAMOS A DESARROLLAR LAS DIFERENTES AGRUPACIONES Y TRANSFORMACIONES.  

**Tomamos el 21 de septiembre de 2020 como fecha maxima para comparar con las fecha de compra.**

----------------

In [12]:
def min_time(df):
    times=df.Fecha_compra.apply(lambda x:pd.to_datetime("2020-09-21")-x )
    minimo=times.min()
    return minimo

In [13]:
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
df1=df_inicial.groupby("Codigo_Cliente").agg({'ID_Contacto':'count','Valor Neto':'sum' }).reset_index()
df2=df_inicial.groupby("Codigo_Cliente").apply(min_time).reset_index()
df_group_inicial=pd.merge(df1,df2, on="Codigo_Cliente")
# Esta celda dura aprox 20 min

In [14]:
df_group_inicial.rename(columns={0:"Dias_desde_ultima_compra", 'Valor Neto':'Total_dinero','ID_Contacto':'Numero_de_compras'}, inplace=True)
df_group_inicial.Dias_desde_ultima_compra=df_group_inicial.Dias_desde_ultima_compra.apply(lambda x:x.days)
df_group_inicial.rename(columns={"Numero_de_compras":"ctd_articulos_comprados"}, inplace=True)

,Codigo_Cliente,Numero_de_compras,Total_dinero,Dias_desde_ultima_compra
0,100036,6,525008,250
1,100044,11,604495,274
2,100067,8,380328,306
3,100069,2,53764,272
4,100071,23,978025,344
...,...,...,...,...
838651,42808713,4,189882,0
838652,42808714,1,33605,0
838653,42809265,1,33609,1
838654,42809300,3,124635,1
838655,42809325,3,108433,1

In [53]:
df_temp=df_inicial.groupby(["Codigo_Cliente","Fecha_compra"]).size().groupby("Codigo_Cliente").size().reset_index().rename(columns={0:"Dias_diferentes"})
df_group_inicial_=pd.merge(df_group_inicial,df_temp, on="Codigo_Cliente")
df_group_inicial_["prom_dinero/visita"]=round(df_group_inicial_["Total_dinero"]/df_group_inicial_["Dias_diferentes"],0)
df_group_inicial_.drop(columns="Dias_diferentes", inplace=True)

In [35]:
df_group_inicial_.head()

,Codigo_Cliente,ctd_articulos_comprados,Total_dinero,Dias_desde_ultima_compra,prom_dinero/visita
0,100036,6,525008,250,262504.0
1,100044,11,604495,274,120899.0
2,100067,8,380328,306,95082.0
3,100069,2,53764,272,53764.0
4,100071,23,978025,344,195605.0

In [16]:
df_group_inicial.shape

(838656, 4)

------------

**CONSTRUIMOS UNA TABLA CON OTRAS VARIABLES DE INTERÉS POR CLIENTE**

------------

In [17]:
df_1=df_inicial.groupby(["Codigo_Cliente","Factura"]).size().reset_index()
df_1=df_1.groupby("Codigo_Cliente").agg({'Factura':'count'}).rename(columns={"Factura":"ctd_facturas"}).reset_index()
df_1["ctd_articulos_comprados"]=df_group_inicial["ctd_articulos_comprados"]
df_1["prom_articulos/factura"]=round(df_1["ctd_articulos_comprados"]/df_1["ctd_facturas"],2)
df_1.drop(columns=["ctd_facturas","ctd_articulos_comprados"], inplace=True)

In [18]:
df_1.head(2)

   Codigo_Cliente  prom_articulos/factura
0          100036                     1.5
1          100044                     2.2

In [19]:
df_2 = df_inicial.groupby(['Codigo_Cliente','Factura','Fecha_compra'])['Tipo de Artículo'].size().reset_index().rename(columns={'Tipo de Artículo':'Ctd_Artículos'})
df_2 = df_2.sort_values(['Codigo_Cliente', 'Fecha_compra'])
df_2['Dias_entre_compras'] = df_2.groupby(['Codigo_Cliente'])['Fecha_compra'].diff().dt.days
df_2_final=df_2.groupby(['Codigo_Cliente'])['Dias_entre_compras'].mean().reset_index().rename(columns={'Dias_entre_compras':'Prom_dias_entre_compras'})
df_2_final.fillna(0, inplace=True)
df_2_final["Prom_dias_entre_compras"]=round(df_2_final["Prom_dias_entre_compras"],0)

In [20]:
df_2_final.head(2)

   Codigo_Cliente  Prom_dias_entre_compras
0          100036                     10.0
1          100044                     94.0

In [21]:
def rango_tiempo(df):
    maximo=df.Fecha_compra.max()
    minimo=df.Fecha_compra.min()
    rango=maximo-minimo
    return rango.days

In [22]:
df_3=df_inicial.groupby('Codigo_Cliente').apply(rango_tiempo).reset_index()
# Esta celda dura aprox 15 min

In [23]:
df_3.rename(columns={0:"Rango_1ra_a_ultima_compra (dias)"}, inplace=True)
df_3.head(2)

   Codigo_Cliente  Rango_1ra_a_ultima_compra (dias)
0          100036                                29
1          100044                               374

In [24]:
df_4=df_inicial.groupby(["Codigo_Cliente","Fecha_compra"]).size()
df_4=df_4.groupby("Codigo_Cliente").size().reset_index()
df_4.rename(columns={0:'Visitas'},inplace=True)
df_4["Visitas/año_(2 años)"]=df_4.Visitas/2     # PORQUE SON 2 AÑOS
df_4.drop(columns="Visitas", inplace=True)

In [25]:
df_4.head(2)

   Codigo_Cliente  Visitas/año_(2 años)
0          100036                   1.0
1          100044                   2.5

------------

Unimos estas 4 tablas

-----------

In [36]:
df_group_interes=pd.merge(df_3,df_2_final, on="Codigo_Cliente")
df_group_interes=pd.merge(df_group_interes,df_4, on="Codigo_Cliente")
df_group_interes=pd.merge(df_group_interes,df_1, on="Codigo_Cliente")

In [37]:
df_group_interes.head(5)

,Codigo_Cliente,Rango_1ra_a_ultima_compra (dias),Prom_dias_entre_compras,Visitas/año_(2 años),prom_articulos/factura
0,100036,29,10.0,1.0,1.50
1,100044,374,94.0,2.5,2.20
2,100067,44,15.0,2.0,2.00
3,100069,0,0.0,0.5,2.00
4,100071,351,70.0,2.5,3.83

---------------

**AHORA CONSTRUIMOS EL DATAFRAME DE VARIABLES DUMMIES CON LA FRECUENCIA POR CLIENTE**

----------
Las variables de interes son:

In [38]:
df_inicial.iloc[:,[1,11,15,21,22,23,24,26,27]].head()

,Codigo_Cliente,Canal,Ciudad Tienda,Edad,Género,Sublínea,Grupo de Artículo,Tipo de Tejido,Tipo de Referencia
0,42163952,Outlets,BOGOTÁ,BEBES,FEMENINO,BASICOS,CALZADO,NO TEJIDO,PRENDA EXTERIOR
1,42620506,Tiendas Propias,BOGOTÁ,PRIMI,MASCULINO,MODA,CAMISA,TEJIDO PLANO,PRENDA EXTERIOR
2,42702886,Tiendas Franquicias,BARRANCABERMEJA,NIÑOS,FEMENINO,BASICOS,PANTALON LARGO,TEJIDO PUNTO,PRENDA EXTERIOR
3,40225702,Tiendas Propias,CALI,NIÑOS,FEMENINO,MODA,CAMISETA,TEJIDO PUNTO,PRENDA EXTERIOR
4,41912337,Outlets,BOGOTÁ,BEBES,FEMENINO,MODA,CAMISA,TEJIDO PLANO,PRENDA EXTERIOR

----

Transformamos en Dummies:

In [39]:
df_dummies=pd.get_dummies(df_inicial.iloc[:,[1,11,15,21,22,23,24,26,27]]) #20 Segundos
df_dummies.shape

(4621542, 108)

In [40]:
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
# Dura unos 10 min de aqui a abajo, se hace por bloques porque el pc se queda sin memoria.

df_group_dummies=df_dummies.groupby("Codigo_Cliente")
df_group_sum=df_group_dummies.sum().reset_index()

In [41]:
#df_group_dummies_sum=pd.merge(df_group_sum1,df_group_sum2, on="Codigo_Cliente")
#df_group_dummies_sum=pd.merge(df_group_dummies_sum, df_group_sum3, on="Codigo_Cliente")
#df_group_dummies_sum=pd.merge(df_group_dummies_sum, df_group_sum4, on="Codigo_Cliente")
#df_group_dummies_sum=pd.merge(df_group_dummies_sum, df_group_sum5, on="Codigo_Cliente")

-----------

**REALIZAMOS UNA TABLA PARA CONOCER EN QUE MESES COMPRA CADA CLIENTE:**

-------------

In [42]:
df_mes=df_inicial.copy()
df_mes["Mes_de_compra"]=df_inicial.Fecha_compra.apply(lambda x: x.month)
df_mes["Mes_de_compra"]=df_mes["Mes_de_compra"].map({1:'Enero',2:'Febrero',3:'Marzo',4:'Abril',
                                                     5:'Mayo',6:'Junio',7:'Julio',8:'Agosto',
                                                     9:'Septiembre',10:'Octubre',11:'Noviembre',12:'Diciembre'})
df_mes_=pd.get_dummies(df_mes.iloc[:,[1,31]])
df_group_mes=df_mes_.groupby("Codigo_Cliente").sum().reset_index()

In [43]:
df_group_mes.head()

,Codigo_Cliente,Mes_de_compra_Abril,Mes_de_compra_Agosto,Mes_de_compra_Diciembre,Mes_de_compra_Enero,Mes_de_compra_Febrero,Mes_de_compra_Julio,Mes_de_compra_Junio,Mes_de_compra_Marzo,Mes_de_compra_Mayo,Mes_de_compra_Noviembre,Mes_de_compra_Octubre,Mes_de_compra_Septiembre
0,100036,0.0,0.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,100044,0.0,0.0,8.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0
2,100067,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,6.0,0.0
3,100069,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,100071,0.0,0.0,0.0,6.0,0.0,0.0,9.0,0.0,0.0,0.0,8.0,0.0

------------

**AHORA UNIMOS TODAS LAS TABLAS REALIZADAS:**

------------

In [54]:
df_total=pd.merge(df_group_inicial_, df_group_interes, on="Codigo_Cliente")
df_total=pd.merge(df_total, df_group_mes, on="Codigo_Cliente")
df_total=pd.merge(df_total, df_group_sum, on="Codigo_Cliente")

In [46]:
df_total.shape

(838656, 128)

-------------

**FILTRAMOS LOS CODIGOS DE CLIENTES GENERICOS DE LA BASE DE DATOS RESULTANTES**

-----------------------

In [47]:
codigos_genericos1=df_inicial[(df_inicial["Nombre"].str.contains("CLIENTE")) | (df_inicial["Apellido"].str.contains("GENERICO")) ]["Codigo_Cliente"].unique().tolist()

In [48]:
len(codigos_genericos1)

17

In [55]:
df_total2=df_total[~df_total["Codigo_Cliente"].isin(codigos_genericos1)]
df_total2.rename(columns={"Rango_1ra_a_ultima_compra":"Rango_1ra_a_ultima_compra (dias)"}, inplace=True)

/opt/conda/lib/python3.6/site-packages/pandas/core/frame.py:4304: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [50]:
df_total2.shape

(838639, 128)

---------------

**Y la tabla final es la siguiente....**

----------------

In [56]:
df_total2.head(8)

,Codigo_Cliente,ctd_articulos_comprados,Total_dinero,Dias_desde_ultima_compra,prom_dinero/visita,Rango_1ra_a_ultima_compra (dias),Prom_dias_entre_compras,Visitas/año_(2 años),prom_articulos/factura,Mes_de_compra_Abril,Mes_de_compra_Agosto,Mes_de_compra_Diciembre,Mes_de_compra_Enero,Mes_de_compra_Febrero,Mes_de_compra_Julio,...,Grupo de Artículo_SABANA,Grupo de Artículo_SET,Grupo de Artículo_SOMBRERO,Grupo de Artículo_TENDIDO DE CAMA,Grupo de Artículo_TOP,Grupo de Artículo_TOP INTERIOR,Grupo de Artículo_VESTIDO,Tipo de Tejido_INDISTINTO,Tipo de Tejido_NO TEJIDO,Tipo de Tejido_TEJIDO PLANO,Tipo de Tejido_TEJIDO PUNTO,Tipo de Referencia_ACCESORIO,Tipo de Referencia_OTROS,Tipo de Referencia_PRENDA EXTERIOR,Tipo de Referencia_PRENDA INTERIOR
0,100036,6,525008,250,262504.0,29,10.0,1.0,1.50,0.0,0.0,3.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,1.0,0.0,0.0,6.0,0.0
1,100044,11,604495,274,120899.0,374,94.0,2.5,2.20,0.0,0.0,8.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4.0,6.0,0.0,0.0,11.0,0.0
2,100067,8,380328,306,95082.0,44,15.0,2.0,2.00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,6.0,0.0,0.0,8.0,0.0
3,100069,2,53764,272,53764.0,0,0.0,0.5,2.00,0.0,0.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,2.0,0.0
4,100071,23,978025,344,195605.0,351,70.0,2.5,3.83,0.0,0.0,0.0,6.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,6.0,14.0,2.0,0.0,19.0,2.0
5,100084,90,1972281,296,394456.0,430,86.0,2.5,15.00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,2.0,30.0,58.0,0.0,0.0,88.0,2.0
6,100090,65,1262626,297,420875.0,358,119.0,1.5,16.25,11.0,0.0,5.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,18.0,47.0,0.0,0.0,65.0,0.0
7,100092,14,724966,347,181242.0,363,121.0,2.0,3.50,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,8.0,0.0,0.0,14.0,0.0

In [57]:
df_total2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 838639 entries, 0 to 838655
Columns: 128 entries, Codigo_Cliente to Tipo de Referencia_PRENDA INTERIOR
dtypes: float64(123), int64(5)
memory usage: 825.4 MB

In [58]:
df_total2.to_csv("../Data/Tabla_transformada.csv")


----------------


----------------