In [50]:
# Load packages
import os
import pandas as pd
import numpy as np

In [51]:
df=pd.read_csv('data.csv',sep=';',
        dtype = { # indicate categorical variables
        'Tratamiento': 'category',
        'Tratamiento de datos': 'category',
        'Tipo Factura': 'category',
        'Desc. Canal':'category',
        'Cod. Tienda':'category',
        'Ciudad Tienda':'category',
        'Desc. Prenda': 'category',
        'Tipo de Negocio': 'category',
        'Destino': 'category',
        'Edad': 'category',
        'Género':'category',
        'Sublínea':'category',
        'Grupo de Artículo':'category',
        'Tipo de Artículo':'category',
        'Tipo de Tejido': 'category',
        'Tipo de Referencia': 'category',
        'País de Orígen': 'category',
        'Saldo': 'category',
        'Clase': 'category',
        'Concepto Diseño': 'category',
        'Mes de Venta':'category'
    }
)
df['Fecha Factura']=pd.to_datetime(df['Fecha Factura'], format='%Y%m%d')

C:\Users\MAURICIO MIRANDA\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [52]:
df2=df.copy()

In [53]:
#zona de reemplazamoento 
from unicodedata import normalize
trans_tab = dict.fromkeys(map(ord, u'\u0301\u0308'), None)
df2["Ciudad Tienda"].replace({"SAN ANDRÉS": "SAN ANDRES ISLAS"},inplace=True)
df2['Ciudad']=df2['Ciudad'].apply(lambda x:normalize('NFKC', normalize('NFKD', str(x)).translate(trans_tab)))
df2["Ciudad"].replace({"ABEJORRAL - PO": "ABEJORRAL","ACEVEDO - EL R":"ACEVEDO","AGUA DE DIOS -":"AGUA DE DIOS","AGUACHICA - PU":"AGUACHICA","AGUSTIN CODAZZI - BECERRIL":"AGUSTIN CODAZZI","AGUSTIN CODAZZ":"AGUSTIN CODAZZI","ALBAN":"ALBANIA","AMALFI - EL ZA":"AMALFI","ARMENIA - EL S":"ARMENIA","ARMERO (GUAYAB":"ARMERO","ATLATICO":"ATLANTICO"},inplace=True)

In [54]:
#se eliminará aquellas cuyo valor neto sea menor o igual a cero 
df3=df2[df2['Valor Neto']>0]

In [55]:
df3=df3.drop(['Direción','Colección','País de Orígen','Marca','Valor Matriz','Año de Venta','Tratamiento','Tratamiento de datos'],axis=1)

In [56]:
df3.shape # la base cuenta con 4656619

(4656619, 31)

In [57]:
#Dado que la proporción de Saldo, Grupo de Articulo, Mes de Venta, Tipo de Venta, genero, 
#es menor a 0.01$ realizaremos un reemplazamiento por el mas frecuente, la perdida de información sera minima
df3['Grupo de Artículo'].cat.categories
df3['Grupo de Artículo'].cat.codes
articulo =df3['Grupo de Artículo'].cat.codes.replace(-1, np.nan)
articulo = articulo.interpolate()
articulo = articulo.astype(int).astype('category')
articulo = articulo.cat.rename_categories(df3['Grupo de Artículo'].cat.categories)
df3['Grupo de Artículo']=articulo

In [58]:
#Dado que la proporción de Saldo, Grupo de Articulo, Mes de Venta, Tipo de Venta, genero, 
#es menor a 0.01$ realizaremos un reemplazamiento por el mas frecuente, la perdida de información sera minima
df3['Saldo'].cat.categories
df3['Saldo'].cat.codes
saldo =df3['Saldo'].cat.codes.replace(-1, np.nan)
saldo = saldo .interpolate()
saldo = saldo .astype(int).astype('category')
saldo = saldo .cat.rename_categories(df3['Saldo'].cat.categories)
df3['Saldo']=saldo

In [59]:
#Dado que la proporción de Saldo, Grupo de Articulo, Mes de Venta, Tipo de Venta, genero, 
#es menor a 0.01$ realizaremos un reemplazamiento por el mas frecuente, la perdida de información sera minima
df3['Mes de Venta'].cat.categories
df3['Mes de Venta'].cat.codes
mes =df3['Mes de Venta'].cat.codes.replace(-1, np.nan)
mes = mes.interpolate()
mes = mes.astype(int).astype('category')
mes = mes.cat.rename_categories(df3['Mes de Venta'].cat.categories)
df3['Mes de Venta']=mes

In [60]:
df3['Género'].cat.categories
df3['Género'].cat.codes
genero =df3['Género'].cat.codes.replace(-1, np.nan)
genero= genero.interpolate()
genero = genero.astype(int).astype('category')
genero = genero.cat.rename_categories(df3['Género'].cat.categories)
df3['Género']=genero

In [61]:
df3['Edad'].cat.categories
df3['Edad'].cat.codes
edad =df3['Edad'].cat.codes.replace(-1, np.nan)
edad = edad.interpolate()
edad  = edad.astype(int).astype('category')
edad = edad.cat.rename_categories(df3['Edad'].cat.categories)
df3['Edad']=edad

In [62]:
df3['Tipo de Negocio'].cat.categories
df3['Tipo de Negocio'].cat.codes
negocio =df3['Tipo de Negocio'].cat.codes.replace(-1, np.nan)
negocio= negocio.interpolate()
negocio= negocio.astype(int).astype('category')
negocio= negocio.cat.rename_categories(df3['Tipo de Negocio'].cat.categories)
df3['Tipo de Negocio']=negocio

In [63]:
df3['Destino'].cat.categories
df3['Destino'].cat.codes
destino =df3['Destino'].cat.codes.replace(-1, np.nan)
destino= destino.interpolate()
destino= destino.astype(int).astype('category')
destino= destino.cat.rename_categories(df3['Destino'].cat.categories)
df3['Destino']=destino

In [64]:
df3['Sublínea'].cat.categories
df3['Sublínea'].cat.codes
sublinea =df3['Sublínea'].cat.codes.replace(-1, np.nan)
sublinea= sublinea.interpolate()
sublinea= sublinea.astype(int).astype('category')
sublinea= sublinea.cat.rename_categories(df3['Sublínea'].cat.categories)
df3['Sublínea']=sublinea

In [65]:
df3['Tipo de Artículo'].cat.categories
df3['Tipo de Artículo'].cat.codes
tipo=df3['Tipo de Artículo'].cat.codes.replace(-1, np.nan)
tipo= tipo.interpolate()
tipo= tipo.astype(int).astype('category')
tipo= tipo.cat.rename_categories(df3['Tipo de Artículo'].cat.categories)
df3['Tipo de Artículo']=tipo

In [66]:
df3['Tipo de Referencia'].cat.categories
df3['Tipo de Referencia'].cat.codes
ref=df3['Tipo de Referencia'].cat.codes.replace(-1, np.nan)
ref= ref.interpolate()
ref= ref.astype(int).astype('category')
ref= ref.cat.rename_categories(df3['Tipo de Referencia'].cat.categories)
df3['Tipo de Referencia']=ref

In [67]:
df3['Clase'].cat.categories
df3['Clase'].cat.codes
clase=df3['Clase'].cat.codes.replace(-1, np.nan)
clase= clase.interpolate()
clase= clase.astype(int).astype('category')
clase= clase.cat.rename_categories(df3['Clase'].cat.categories)
df3['Clase']=clase

In [68]:
df3['Concepto Diseño'].cat.categories
df3['Concepto Diseño'].cat.codes
diseño=df3['Concepto Diseño'].cat.codes.replace(-1, np.nan)
diseño= diseño.interpolate()
diseño= diseño.astype(int).astype('category')
diseño= diseño.cat.rename_categories(df3['Concepto Diseño'].cat.categories)
df3['Concepto Diseño']=diseño

In [69]:
df3['Ciudad Tienda']=df3['Ciudad Tienda'].astype('category')

In [70]:
df3['Ciudad Tienda'].cat.categories
df3['Ciudad Tienda'].cat.codes
tida=df3['Ciudad Tienda'].cat.codes.replace(-1, np.nan)
tida= tida.interpolate()
tida= tida.astype(int).astype('category')
tida= tida.cat.rename_categories(df3['Ciudad Tienda'].cat.categories)
df3['Ciudad Tienda']=tida

In [71]:
df3['Tipo de Tejido'].cat.categories
df3['Tipo de Tejido'].cat.codes
tejido=df3['Tipo de Tejido'].cat.codes.replace(-1, np.nan)
tejido= tejido.interpolate()
tejido= tejido.astype(int).astype('category')
tejido= tejido.cat.rename_categories(df3['Tipo de Tejido'].cat.categories)
df3['Tipo de Tejido']=tejido

In [72]:
df4=df3[(df3['Edad']=='BEBES') |(df3['Edad']=='NIÑOS')| (df3['Edad']=='PRIMI')]

In [33]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4621542 entries, 0 to 4660922
Data columns (total 33 columns):
 #   Column                Dtype
---  ------                -----
 0   ID_Contacto           object
 1   Codigo SAP            int64
 2   Nombre                object
 3   Apellido              object
 4   Tratamiento           category
 5   Tratamiento de datos  category
 6   Ciudad                object
 7   Fecha Factura         datetime64[ns]
 8   Factura               int64
 9   Tipo Factura          category
 10  Cod. Organización     int64
 11  Desc. Organizacion    object
 12  Cod. Canal            int64
 13  Desc. Canal           category
 14  Valor Neto            int64
 15  Cod. Tienda           category
 16  Desc. Tienda          object
 17  Ciudad Tienda         category
 18  Material              int64
 19  Desc. Prenda          category
 20  Tipo de Negocio       category
 21  Destino               category
 22  Mes de Venta          category
 23  Edad                  category
 24  Género                category
 25  Sublínea              category
 26  Grupo de Artículo     category
 27  Tipo de Artículo      category
 28  Tipo de Tejido        category
 29  Tipo de Referencia    category
 30  Saldo                 category
 31  Clase                 category
 32  Concepto Diseño       category
dtypes: category(20), datetime64[ns](1), int64(6), object(6)
memory usage: 595.2+ MB

In [73]:
df4['Mes de Venta']=pd.Categorical(df4['Mes de Venta'], categories=['ENERO','FEBRERO','MARZO','ABRIL','MAYO','JUNIO','JULIO','AGOSTO','SEPTIEMBRE','OCTUBRE','NOVIEMBRE','DICIEMBRE'],ordered=True)

<ipython-input-73-0037f03e0cc4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['Mes de Venta']=pd.Categorical(df4['Mes de Venta'], categories=['ENERO','FEBRERO','MARZO','ABRIL','MAYO','JUNIO','JULIO','AGOSTO','SEPTIEMBRE','OCTUBRE','NOVIEMBRE','DICIEMBRE'],ordered=True)

In [74]:
df4.rename(columns={'Codigo SAP': 'Codigo_Cliente', 'Ciudad': 'Ciudad_cliente','Fecha Factura': 'Fecha_compra','Desc. Canal':'Canal'}, inplace=True)

C:\Users\MAURICIO MIRANDA\anaconda3\lib\site-packages\pandas\core\frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [75]:
ruta =r"C:\Users\MAURICIO MIRANDA\Dropbox\data_clean.csv"
ruta2=df4.to_csv(ruta)

In [82]:
df5=df4.copy()